<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script src="jquery.js"></script>
    <script src="highlight.min.js"></script>
    <script src="nav.js"></script>

    <!-- Code Monospace Font -->
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>

    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="gevent.css">

    <!-- Syntax Highlighting Theme -->
    <link rel="stylesheet" href="github.min.css">

    <title>Gevent指南</title>
</head>
<style>

</style>
<body>
<div class="container">

<div id="sidebar" class="three columns sidebar">
    <nav>
    </nav>
</div>

<div class="twelve columns offset-by-three content">

    <header>
        <h1><span class="green">gevent</span>程序员指南</h1>
        <h3 class="author">
            由Gevent社区编写
        </h3>

        <blockquote>
        gevent是一个基于<a href="http://software.schmorp.de/pkg/libev.html">libev</a>的并发库。它为各种并发和网络相关的任务提供了整洁的API。
        </blockquote>
    </header>

    {{ body }}
</div>

</body>
</html>
