<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script src="http://yandex.st/highlightjs/6.0/highlight.min.js"></script>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/6.0/styles/github.min.css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic|Inconsolata' rel='stylesheet'>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>Gevent Tutorial</title>
</head>
<style>
    body {
        font: 13px/20px "Droid Sans",Arial,"Helvetica Neue","Lucida Grande",sans-serif;

        color: #4C4C4C;
        background-color: #c9dbb2;
        margin-left: 0px;
        margin-top: 5px;
    }

    .toc {
        left: 0px;
        top: 5px;
        position: fixed;
        float: left;
        width: 150px;

        background-color: #FAFBFC;
        border: 1px solid #FAFBFC;

        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 10px;

        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        padding-left: 5px;
        height: 100%;
    }

    .toc ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

    .toc ul ul {
        font-size: 80%;
        padding-left: 5px;
    }

    #content {
        max-width: 960px;
        margin-left: 160px;
        padding: 10px;
        border: 1px solid #FAFBFC;

        background-color: #FAFBFC;

        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
       
        -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    a {
        color: inherit;
    }

    pre {
        border: 1px solid #ccc;
        background-color: ghostWhite;
        font: 15px/19px Inconsolata,"Lucida Console",Terminal,"Courier New",Courier;

        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding: 5px;
    }

    p code {
        font-family: monospace;
        border-bottom: 1px dashed #ccc;

    }

    .label { 
        display: block;
        margin-bottom: 0px;
        padding: 0px;
        font-family: sans;
        font-weight: bold;
        width: 200px;
        padding: 0.5em;
    }

    .author {
        text-align: center;
    }

    .email {
        text-align: center;
        font-size: 10pt;
    }


    h1 {
        text-align: center;
        padding-bottom: 5px;
    }

    h2 {
        padding-bottom: 10px;
    }

    .green {
        color: #7c9a5e;
    }
</style>
<body>
<div id="content">

<header>
    <h1><span class="green">gevent</span> For the Working Python Developer</h1>
    <h3 class="author">
        Written by the Gevent Community
    </h3>
</header>

<blockquote>
gevent is a concurrency library based around libev.  It provides a clean API for a variety of concurrency and network related tasks.
</blockquote>

{{ body }}
</div>
</body>
</html>
