<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script src="jquery.js"></script>
    <script src="highlight.min.js"></script>
    <script src="nav.js"></script>

    <!-- Code Monospace Font -->
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>

    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="gevent.css">

    <!-- Syntax Highlighting Theme -->
    <link rel="stylesheet" href="github.min.css">

    <title>Gevent Tutorial</title>
</head>
<style>

</style>
<body>
<div class="container">

<div id="sidebar" class="three columns sidebar">
    <nav>
    </nav>
</div>

<div class="twelve columns offset-by-three content">

    <header>
        <h1><span class="green">gevent</span> For the Working Python Developer</h1>
        <h3 class="author">
            Written by the Gevent Community
        </h3>

        <blockquote>
        gevent is a concurrency library based around <a href="http://software.schmorp.de/pkg/libev.html">libev</a>.  It provides a clean API for a variety of concurrency and network related tasks.
        </blockquote>
    </header>

    {{ body }}
</div>

</body>
</html>
