@media only screen and (min-width: 767px) {
    #sidebar {
        margin-top: 50px;
        position: fixed;
    }
}

@media only screen and (max-width: 767px) {
    #sidebar {
        display: none;
    }
}

.toc ul {
    list-style-type: none;
}

a {
    color: inherit;
}

pre {
    font: 15px/19px Inconsolata,"Lucida Console",Terminal,"Courier New",Courier;

    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    border-left: 1px solid #CCC;
}

pre code {
    background: none !important;
}

p code, li code {
    font: 15px/19px Inconsolata,"Lucida Console",Terminal,"Courier New",Courier;
}

.label { 
    display: block;
    margin-bottom: 0px;
    padding: 0px;
    font-family: sans;
    font-weight: bold;
    width: 200px;
    padding: 0.5em;
}

.author {
    text-align: center;
}

h1 {
    text-align: center;
    padding-bottom: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    padding-bottom: 10px;
}

.green {
    color: #7c9a5e;
}

.active {
    font-weight: bold; 
}
